name: Build and Upload (Debug)

on:
  workflow_dispatch:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: gradle/gradle-build-action@v2
    - run: ./gradlew packageDebug
    - uses: mobile-dev-inc/action-upload@v2.1.0
      with:
        api-key: ${{ secrets.MOBILE_DEV_API_KEY }}
        name: ${{ github.sha }}
        app-file: app/build/outputs/apk/debug/app-x86_64-debug.apk
